.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: rgb(112, 212, 207);}
nav li a{color: yellow}
input{border-radius: 0%;
    
    
    width:100%;

}
body{
    background-color: yellowgreen;
    color: rgb(153, 0, 153);

    
}