.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: coral;
}
nav {background-color: coral;font-size: 20px;}
nav li{display: inline; background-color: coral;font-size: 20px;}
nav li a{color: yellow; font-size: 20px;}
input{border-radius: 0%;
    
    
    width:100%;
    font-size: 20px;
}
body{
    background-color: yellow;
    color: coral;
    font-size: 20px;

}